<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">

<head th:fragment="baseheader(title)">
    <meta charset="UTF-8">
    <title th:replace="${title}">This is the base title</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.min.css}">

    <link rel="stylesheet" type="text/css" href="/css/goudvinkje.css">
</head>

<body>
<nav th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light mt-3">
        <div class="container">
            <!-- Titel links -->
            <div>
                <a class="navbar-brand" href="/">
                    <img src="/images/goudvinkje-logo.png" width="auto" height="40" alt="goudvinkje logo" class="d-inline-block pe-2 align-text-center">
                    GoudVinkje
                </a>
            </div>

            <!-- Menu rechts -->
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/recept/overzicht}">Recepten</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link" th:href="@{/ingredient/overzicht}">Ingrediënten</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link" th:href="@{/gebruiker/overzicht}">Gebruikers</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a class="nav-link" th:href="@{/login}">inloggen</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" method="post" class="d-inline">
                            <button type="submit" class="nav-link btn btn-link m-0 ps-2" style="height: 100%; display: flex; align-items: center;">
                                uitloggen
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</nav>

<footer th:fragment="footer" class="footer mt-auto text-center py-3">
    <div class="container">
        <span>&copy; 2025 Pixeldae</span>
    </div>
</footer>

<div th:fragment="bottomScripts">
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/js/Sortable.min.js}"></script>
    <script th:src="@{/js/jquery-sortable.js}"></script>
</div>
</body>

</html>