@font-face {
    font-family: 'Inria';
    src: url('/fonts/InriaSans-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Inria';
    src: url('/fonts/InriaSans-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Inria';
    src: url('/fonts/InriaSans-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Chicle';
    src: url('/fonts/Chicle-Regular.ttf');
}


body {
    font-family: 'Inria';
    font-weight: 400;
    color: #450707;
    background-color: #F0EBD6;
}

input {
    border-radius: 0 !important;
}

/*Navbar*/
.navbar-brand {
    color: #450707;
    font-weight: 400;
    font-size: 1.8em;
}
.navbar-brand:hover {
    color: #F29120;
    font-weight: 400;
    font-size: 1.8em;
}

.nav-link {
    color: #450707;
}

.nav-link:hover {
    color: #F29120;
}

/*Footer*/
.footer {
    color: #450707;
    font-weight: 300;
    font-size: .875em;
}

/*Clickable*/
a {
    color: #F29120;
}
a:hover {
    color: #EFD86F;
}

.icon-button {
    color: #F29120;
}
.icon-button:hover {
    color: #EFD86F;
}

.btn-primary,
.btn-primary:link,
.btn-primary:visited {
    color: #450707 !important;
    background-color: #F0EBD6;
    border: 2px solid #450707;
    height: 40px;
    border-radius: 40px;
}

.btn-primary-sm,
.btn-primary-sm:link,
.btn-primary-sm:visited {
    color: #450707 !important;
    background-color: #F0EBD6;
    border: 2px solid #450707;
    height: 30px;
    border-radius: 30px;
}

.btn-primary:hover,
.btn-primary:hover:link {
    color: #F29120 !important;
    background-color: #F0EBD6;
    border-color: #F29120;
    height: 40px;
    border-radius: 40px;
}

.btn-primary-sm:hover,
.btn-primary-sm:hover:link {
    color: #F29120 !important;
    background-color: #F0EBD6;
    border-color: #F29120;
    height: 30px;
    border-radius: 30px;
}

/*Container styling*/
.border-col {
    border: 1px solid #450707;
    box-sizing: border-box;
    padding: 20px;
    margin: 0;
}

.outline-col {
    border: 1px solid #450707;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main-width {
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
}

.wrap-list {
    columns: 2;
    column-gap: 2rem;
    list-style-position: inside;
}


/*recipeCard*/
.card-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 3 / 2;
    position: relative;
}

.card-title {
    font-weight: 400;
    font-size: 1.2em;
}

.card-button {
    color: #450707;
    z-index: 2;
    position: relative;
}

.card-button:hover {
    color: #F29120;
}

.hover-parent .card-button {
    display: none;
}

.hover-parent:hover .card-button {
    display: block;
}

.stretched-link {
    z-index: 1;
}

/*recipeDetail*/
.recipe-detail-label {
    font-weight: 300;
    font-size: .875em;
}
.checked {
    text-decoration: line-through;
}

.custom-checkbox {
    border: solid white !important;
    background-color: white !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    position: relative;
}

.custom-checkbox:checked::after {
    content: "\2713";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F29120;
    font-size: 18px;
}

/* recipeForm */
.text-danger a{
    color: #f33503;
}
.text-danger:hover a{
    color: #450707;
}

.bi-trash-fill {
    color: #F29120;
    cursor: pointer;
}
.bi-trash-fill:hover {
    color: #f33503;
}

.danger {
    color: #f33503;
}

.description-line {
 width: 65%;
}

.instruction-line {
    width: 86%;
}

.custom-checkbox:focus {
    outline: none;
    box-shadow: none;
}

.custom-table th {
    background-color: #F29120;
    color: #F0EBD6;
    font-size: large;
}
.custom-table,
.custom-table td {
    background-color: transparent;
    color: #450707;
}

/*Bootstrap kleuren overschrijven*/
[class*="primary"] {
    color: #F29120;
}
[class*="light"] {
    color: #F0EBD6;
}
[class*="dark"] {
    color: #450707;
}
[class*="secondary"] {
    color: #EFD86F;
}


