@font-face {
    font-family: 'Inria';
    src: url('/fonts/InriaSans-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Inria';
    src: url('/fonts/InriaSans-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Inria';
    src: url('/fonts/InriaSans-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Chicle';
    src: url('/fonts/Chicle-Regular.ttf');
}

body {
    font-family: 'Inria';
    font-weight: 400;
}