@font-face {
    font-family: 'Inria';
    src: url('/fonts/InriaSans-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Inria';
    src: url('/fonts/InriaSans-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Inria';
    src: url('/fonts/InriaSans-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Chicle';
    src: url('/fonts/Chicle-Regular.ttf');
}

body {
    font-family: 'Inria';
    font-weight: 400;
}

.border-col {
    border: 1px solid #000;
    box-sizing: border-box;
    padding: 10px;
}

.outline-col {
    border: 1px solid #000;
    box-sizing: border-box;
    padding: 10px;
}

.square {
    aspect-ratio: 1 / 1;
}

.main-wrapper {
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
}

.wrap-list {
    columns: 2;
    column-gap: 2rem;
    list-style-position: inside;
}
