<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments/general :: baseheader(~{:: title})}">
    <title th:if="${ingredient.description == null}">Voeg een nieuw ingrediënt toe</title>
    <title th:unless="${ingredient.description == null}">Pas een ingrediënt aan</title>
</head>

<body class="d-flex flex-column min-vh-100 main-width">
<nav th:replace="~{fragments/general :: navbar}"></nav>

<div class="container">
    <h1 th:if="${ingredient.description == null}">Voeg een nieuw ingrediënt toe</h1>
    <h1 th:unless="${ingredient.description == null}">Pas een ingrediënt aan</h1>

    <div>
        <form th:action="@{/ingredient/opslaan}" method="post" th:object="${ingredient}">

            <input type="hidden" th:field="*{ingredientId}">

            <div>
                <label for="beschrijving">Ingrediënt beschrijving</label>
                <div>
                    <input type="text" id="beschrijving" th:field="*{description}">
                </div>
            </div>

            <div>
                <label for="calories">Calorieën per 100g/stuk<span id="unitDisplay"></span></label>
                <div>
                    <input type="number" id="calories" th:field="*{calories}">
                </div>
            </div>

            <div>
                <label for="quantityUnit">Gemeten in</label>
                <div>
                    <input type="text" id="quantityUnit" th:field="*{quantityUnit}">
                </div>
            </div>

            <div>
                <button type="submit" name="action" value="save">Opslaan</button>
                <button type="submit" name="action" value="cancel">Annuleren</button>
            </div>
        </form>
    </div>
</div>

<footer th:replace="~{fragments/general :: footer}"></footer>
<div th:replace="~{fragments/general :: bottomScripts}"></div>
</body>
</html>