<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/general :: baseheader(~{:: title})}">
    <title>Gebruikte ingredienten</title>
</head>

<body class="d-flex flex-column min-vh-100">
<nav th:replace="~{fragments/general :: navbar}"></nav>

<div class="container">
    <table>
        <thead>
        <tr>
            <th>Ingrediënt</th>
            <th>Calorieën</th>
            <th>Eenheid</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ingredient : ${ingredients}">
            <td><a th:text="${ingredient.description}"
                   th:href="@{/ingredient/aanpassen/{iDescr}(iDescr = ${ingredient.description})}"></a></td>
            <td><a th:text="${ingredient.calories}"></a></td>
            <td><a th:text="${ingredient.quantityUnit}"></a></td>
            <td><a th:href="@{/ingredient/verwijderen/{ingredientID}(ingredientID = ${ingredient.ingredientId})}">
                <i class="bi bi-trash-fill"></i></a></td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" th:href="@{/ingredient/toevoegen}" role="button">Voeg een nieuw ingrediënt toe</a>
</div>

<footer th:replace="~{fragments/general :: footer}"></footer>
<div th:replace="~{fragments/general :: bottomScripts}"></div>
</body>

</html>