<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">

<head th:replace="~{fragments/general :: baseheader(~{:: title})}">
    <title>Receptenoverzicht</title>
</head>

<body class="d-flex flex-column min-vh-100 main-width">
<nav th:replace="~{fragments/general :: navbar}"></nav>

<div class="flex-fill container my-5">

    <div class="row row-cols-4 g-3">

        <div th:each="recipe : ${recipes}">
            <div class="outline-col">
            <div th:replace="~{fragments/recipe :: recipeCard(${recipe})}"></div>
            </div>
        </div>

    </div>
</div>

<a class="btn btn-primary" th:href="@{/recept/toevoegen}" role="button">Voeg een nieuw recept toe</a>

<footer th:replace="~{fragments/general :: footer}"></footer>
<div th:replace="~{fragments/general :: bottomScripts}"></div>
</body>

</html>