<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/general :: baseheader(~{:: title})}">
    <title>Receptenoverzicht</title>
</head>

<body class="d-flex flex-column min-vh-100 main-width">
<nav th:replace="~{fragments/general :: navbar}"></nav>

<div class="flex-fill container my-5 mx-0">

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Mijn recepten</h2>
        <a class="btn btn-primary" th:href="@{/recept/toevoegen}" role="button">nieuw recept</a>
    </div>
    <div class="text-center" th:if="${#lists.isEmpty(ownRecipes)}">
        <p>Je hebt nog geen eigen recepten.</p>
        <a th:href="@{/recept/toevoegen}">Wil je er een toevoegen?</a>
    </div>
    <div class="row row-cols-3 g-3">

        <div th:each="recipe : ${ownRecipes}">
            <div class="outline-col">
            <div th:replace="~{fragments/recipe :: recipeCard(${recipe})}"></div>
            </div>
        </div>
    </div>

    <div class="mt-5 mb-3">
        <h2>Recepten van de community</h2>
    </div>
    <div class="text-center" th:if="${#lists.isEmpty(publicRecipes)}">
        Op dit moment heeft nog niemand anders een recept gedeeld.
    </div>
    <div class="row row-cols-3 g-3">
        <div th:each="recipe : ${publicRecipes}">
            <div class="outline-col">
                <div th:replace="~{fragments/recipe :: recipeCard(${recipe})}"></div>
            </div>
        </div>
    </div>
</div>


<footer th:replace="~{fragments/general :: footer}"></footer>
<div th:replace="~{fragments/general :: bottomScripts}"></div>
</body>

</html>