<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments/general :: baseheader(~{:: title})}">
    <title th:if="${formRecipe.recipeID == null}">Voeg een nieuw recept toe</title>
    <title th:unless="${formRecipe.recipeID == null}">Pas een recept aan</title>
</head>

<body>
<div th:replace="~{fragments/general :: navbar}"></div>

<h1 th:if="${formRecipe.recipeID == null}">Voeg een nieuw recept toe</h1>
<h1 th:unless="${formRecipe.recipeID == null}">Pas het recept voor <span th:text="${formRecipe.name}"></span> aan</h1>

<div>
    <p id="test">oude tekst</p>

<form th:action="@{/recept/opslaan}" method="post" th:object="${formRecipe}">

    <input type="hidden" th:field="*{recipeID}">
    <input type="hidden" th:field="*{dateAdded}">

    <div>
        <label for="name">Receptnaam</label>
        <div>
            <input type="text" id="name" th:field="*{name}"
                   placeholder="Vegan Spaghetti Bolognese">
        </div>
    </div>

    <div>
        <label for="description">Korte omschrijving</label>
        <div>
            <input type="text" id="description" th:field="*{description}"
                   placeholder="Rijke bolognese saus op basis van champignons">
        </div>
    </div>

    <div>
        <label for="author">Auteur</label>
        <div>
            <input type="text" id="author" th:field="*{author}"
                   placeholder="Pieter van de Pepermolen">
        </div>
    </div>

    <div>
        <label for="portions">Aantal porties</label>
        <div>
            <input type="text" id="portions" th:field="*{nrOfPortions}"
                   placeholder="6 personen">
        </div>
    </div>

    <div>
        <h3>Instructies</h3>
        <div id="steps-section">
            <div class="step-row" th:each="step, order : *{steps}">
                <table>
                    <tbody>
                        <tr>
                            <td><input type="hidden" th:field="*{steps[__${order.index}__].stepId}"></td>
                            <td><input type="number" th:field="*{steps[__${order.index}__].sequenceNr}"></td>
                            <td><input type="text" th:field="*{steps[__${order.index}__].instruction}"></td>
                            <td><button type="submit" th:formaction="@{/recept/{recipeID}/stap/verwijderen/{stepId}
                                                                       (recipeID=${formRecipe.recipeID},
                                                                        stepId=*{steps[__${order.index}__].stepId})}"
                                        name="action" value="removeStep">Verwijder Stap</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <button type="button" id="add-step">Stap toevoegen</button>
<!--        <button type="submit" th:formaction="@{/recept/{recipeID}/staptoevoegen(recipeID=${formRecipe.recipeID})}"-->
<!--                name="action" value="addStep">Stap Toevoegen</button>-->
    </div>

    <div>
        <h3>Ingrediënten</h3>
        <div id="ingredients-section">
            <div class="ingredient-row" th:each="ingredient, order : *{recipeHasIngredients}">
            <table>
                <tr>
                    <td>
                        <input type="hidden"
                               th:field="*{recipeHasIngredients[__${order.index}__].ingredient}">
                    </td>
                    <td>
                        <input type="hidden"
                               th:field="*{recipeHasIngredients[__${order.index}__].recipeHasIngredientID}">
                    </td>
                    <td>
                        <input type="hidden"
                               th:field="*{recipeHasIngredients[__${order.index}__].recipe}">
                    </td>
                    <td>
                        <input type="text"
                               th:field="*{recipeHasIngredients[__${order.index}__].quantity}">
                    </td>
                    <td>
                        <input type="text"
                               th:field="*{recipeHasIngredients[__${order.index}__].ingredient.quantityUnit}">
                    </td>
                    <td>
                        <input type="text"
                               th:field="*{recipeHasIngredients[__${order.index}__].ingredient.description}">
                    </td>
                    <td>
                        <button type="submit"
                                th:formaction="@{/recept/{recipeId}/ingredient/verwijderen/{recipeHasIngredientsId}
                                (recipeId=${formRecipe.recipeID}, recipeHasIngredientsId=
                                *{recipeHasIngredients[__${order.index}__].recipeHasIngredientID})}"
                            name="action" value="removeIngredient">Verwijder ingredient</button>
                    </td>
                </tr>
            </table>
            </div>
        </div>
        <button type="submit" th:formaction="@{/recept/{recipeID}/ingredienttoevoegen(recipeID=${formRecipe.recipeID})}"
                name="action" value="addIngredient">Ingrediënt Toevoegen</button>
    </div>

    <div>
        <button type="submit" name="action" value="save">Opslaan</button>
        <button type="submit" name="action" value="cancel">Annuleren</button>
        <button th:href="@{/recept/verwijderen/{recipeID}(recipeID = ${formRecipe.recipeID})}">verwijder recept</button>
    </div>
</form>
</div>
</body>
</html>
<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
<script th:src="@{/js/script.js}"></script>