<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments/general :: baseheader(~{:: title})}">
    <title th:text="${recipe.name}"></title>
</head>

<body class="d-flex flex-column min-vh-100 main-wrapper">
<nav th:replace="~{fragments/general :: navbar}"></nav>

<div class="container-md border-col p-0 my-5">
    <div class="row g-0 align-items-stretch">
        <div class="col d-flex justify-content-start align-items-center border-col">
            <h1 class="m-0" th:text="${recipe.name}"></h1>
        </div>
        <div class="col-1 d-flex flex-end justify-content-center align-items-center border-col square">
            <a th:href="@{/recept/aanpassen/{recipeID}(recipeID=${recipe.recipeID})}"><i class="bi bi-pencil-fill"></i>
            </a>
        </div>
    </div>

    <div class="row g-0 align-items-stretch">
        <div class="col border-col mb-0">
            <p class="mb-0" type="text" id="description" th:text="${recipe.description}"></p>
        </div>
    </div>

    <div class="row g-0 align-items-stretch">
        <div class="col border-col">
            <label for="portions">Aantal porties</label>
            <p class="mb-0" type="text" id="portions" th:text="${recipe.nrOfPortions}"></p>
        </div>
        <div class="col border-col">
            <label for="author">Auteur</label>
            <p class="mb-0" type="text" id="author" th:text="${recipe.author}"></p>
        </div>
        <div class="col border-col">
            <label for="date">Publicatiedatum</label>
            <p class="mb-0" type="text" id="date" th:text="${recipe.dateAdded}"></p>
        </div>
    </div>

    <div class="row g-0 align-items-stretch">
        <div class="col border-col">
            <h2>Ingrediënten</h2>
            <div class="row g-0">
                <div class="col-12 col-lg-6 d-flex" th:each="ingredient : *{recipe.getRecipeHasIngredients()}">
                    <div class="text-end" th:style="|width:40px|">
                        <p class="mb-0" type="text" th:text="${ingredient.quantity}"></p></div>
                    <div class="px-2" th:style="|width:80px|">
                        <p class="mb-0" type="text" th:text="${ingredient.getIngredient().quantityUnit}"></p></div>
                    <div>
                        <p class="mb-0" type="text" th:text="${ingredient.getIngredient().description}"></p></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row g-0 align-items-stretch">
        <div class="col border-col">
            <h2>Instructies</h2>
            <div class="row g-0">
                <div class="col-12 d-flex" th:each="step : *{recipe.getSteps()}">
                    <div class="text-center" th:style="|width:40px|">
                        <p class="mb-1" type="text" th:text="${step.sequenceNr}"></p></div>
                    <div>
                        <p class="mb-1" type="text" th:text="${step.instruction}"></p></div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{fragments/general :: footer}"></footer>
<div th:replace="~{fragments/general :: bottomScripts}"></div>
</body>

</html>