<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments/general :: baseheader(~{:: title})}">
    <title th:text="${recipe.name}"></title>
</head>

<body class="d-flex flex-column min-vh-100">
<nav th:replace="~{fragments/general :: navbar}"></nav>

<div class="container">
    <h1 th:text="${recipe.name}"></h1>

    <a th:href="@{/recept/aanpassen/{recipeID}(recipeID=${recipe.recipeID})}">Recept aanpassen</a>

    <div>
        <label for="author">Auteur</label>
        <p type="text" id="author" th:text="${recipe.author}"><p>
    </div>

    <div>
        <label for="date">Publicatiedatum</label>
        <p type="text" id="date" th:text="${recipe.dateAdded}"><p>
    </div>

    <div>
        <label for="description">Korte beschrijving</label>
        <p type="text" id="description" th:text="${recipe.description}"><p>
    </div>

    <div>
        <label for="portions">Aantal porties</label>
        <p type="text" id="portions" th:text="${recipe.nrOfPortions}"><p>
    </div>

    <div>
        <h2>Ingrediënten</h2>
        <table th:each="ingredient : *{recipe.getRecipeHasIngredients()}">
            <tr>
                <td><p type="text" th:text="${ingredient.quantity}">
                    <p></td>
                <td><p type="text" th:text="${ingredient.getIngredient().quantityUnit}">
                    <p></td>
                <td><p type="text" th:text="${ingredient.getIngredient().description}">
                    <p></td>
            </tr>
        </table>
    </div>

    <div>
        <h2>Instructies</h2>
        <table th:each="step : *{recipe.getSteps()}">
            <tr>
                <td><p type="text" th:text="${step.sequenceNr}">
                    <p></td>
                <td><p type="text" th:text="${step.instruction}">
                    <p></td>
            </tr>
        </table>
    </div>
</div>

<footer th:replace="~{fragments/general :: footer}"></footer>
<div th:replace="~{fragments/general :: bottomScripts}"></div>
</body>

</html>