<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments/general :: baseheader(~{:: title})}">
    <title th:text="${formRecipe.name}"></title>
</head>

<body class="d-flex flex-column min-vh-100 main-width">
<nav th:replace="~{fragments/general :: navbar}"></nav>

<div class="container-md my-5">
    <div class="outline-col">
        <div class="row g-0 align-items-stretch">
            <div class="d-flex border-col">
                <h1 class="" th:text="${formRecipe.name}"></h1>
                <div class="col-1 flex-end align-items-start ms-auto text-end">
                    <div th:replace="~{fragments/recipe :: editRecipeButton(${formRecipe})}"></div>
                </div>
            </div>
        </div>

        <div th:unless="${#strings.isEmpty(formRecipe.imageURL)}" class="row border-col p-0">
            <img class="p-0" th:src="${formRecipe.imageURL}" th:alt="|Image for ${formRecipe.name}|">
        </div>

        <div th:if="${formRecipe.description != ''}">
            <div class="row g-0 align-items-stretch">
                <div class="col border-col">
                    <p class="mb-0" type="text" id="description" th:text="${formRecipe.description}"></p>
                </div>
            </div>
        </div>

        <div class="row g-0 align-items-stretch">
            <div class="col border-col py-2">
                <i class="bi bi-people-fill"></i>
                <label class="recipe-detail-label" for="portions">Aantal porties</label>
                <p class="mb-0 text-center" type="text" id="portions" th:text="${formRecipe.nrOfPortions}"></p>
            </div>

                <div th:if="${formRecipe.calories == null}" class="col border-col py-2">
                    <i class="bi bi-fire"></i>
                    <label class="recipe-detail-label" for="noKcal">Kcal per portie</label>
                    <a id="noKcal" th:href="@{/ingredient/aanvullen/{recipeID}(recipeID = ${formRecipe.recipeID})}">
                        onvoldoende data
                    </a>
                </div>
                <div th:unless="${formRecipe.calories == null}" class="col border-col py-2">
                    <i class="bi bi-fire"></i>
                    <label class="recipe-detail-label" for="kcal">Kcal per portie</label>
                    <p class="mb-0 text-center" type="text" id="kcal" th:text="${formRecipe.calories}"></p>
                </div>

            <div class="col border-col py-2">
                <i class="bi bi-person-circle"></i>
                <label class="recipe-detail-label" for="author">Auteur</label>
                <p class="mb-0 text-center" type="text" id="author" th:text="${formRecipe.author.username}"></p>
            </div>
            <div class="col border-col py-2">
                <i class="bi bi-calendar-fill"></i>
                <label class="recipe-detail-label" for="date">Publicatiedatum</label>
                <p class="mb-0 text-center" type="text" id="date" th:text="${formRecipe.dateAdded}"></p>
            </div>
        </div>

        <div class="row g-0 align-items-stretch">
            <div class="col border-col">
                <h2 class="mb-4">Ingrediënten</h2>
                <div class="row g-0">
                    <div class="col-12 col-lg-6 d-flex" th:each="ingredient : *{formRecipe.getRecipeHasIngredients()}">
                        <div class="form-check col-3">
                            <input class="form-check-input cross-checkbox custom-checkbox"
                                   type="checkbox"
                                   th:data-type="'ingredient'"
                                   th:data-id="${ingredient.getIngredient().ingredientId}"
                                   th:id="'checker' + ${ingredient.getIngredient().ingredientId}">
                            <label class="mb-0 form-check-label"
                                   th:for="'checker' + ${ingredient.getIngredient().ingredientId}"
                                   th:text="|${ingredient.quantity}
                                   ${ingredient.getIngredient().quantityUnit.getDisplayName()}|"></label>
                        </div>
                        <div class="pe-3 pb-2">
                            <p class="mb-0 checkable"
                               th:id="'ingredient' + ${ingredient.getIngredient().ingredientId}"
                               th:text="${ingredient.getIngredient().description}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row g-0 align-items-stretch">
            <div class="border-col">
                <h2 class="mb-4">Instructies</h2>
                <div class="row g-0 me-4">
                    <div th:if="${formRecipe.getSteps().isEmpty()}">
                        <p>Dit recept heeft geen instructies</p>
                    </div>
                    <div th:else="${formRecipe.getSteps().isEmpty()}">
                    <div class="col-12 d-flex" th:each="step : *{formRecipe.getSteps()}">
                        <div class="form-check col-1">
                            <input class="form-check-input cross-checkbox custom-checkbox"
                                   type="checkbox"
                                   th:data-type="'step'"
                                   th:data-id="${step.stepId}"
                                   th:id="'checker' + ${step.stepId}">
                            <label class="form-check-label"
                                   th:for="'checker' + ${step.stepId}"
                                   th:text="${step.sequenceNr}"></label>
                        </div>
                        <div>
                            <p class="mb-2 checkable"
                               th:id="'step' + ${step.stepId}"
                               th:text="${step.instruction}"></p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{fragments/general :: footer}"></footer>
<div th:replace="~{fragments/general :: bottomScripts}"></div>
<script th:src="@{/js/NoSleep.min.js}"></script>
<script th:src="@{/js/recipeDetailScript.js}"></script>
</body>

</html>