<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments/general :: baseheader(~{:: title})}">
    <title th:if="${formRecipe.recipeID == null}">Voeg een nieuw recept toe</title>
    <title th:unless="${formRecipe.recipeID == null}">Pas een recept aan</title>
</head>

<body class="d-flex flex-column min-vh-100 main-width">
<nav th:replace="~{fragments/general :: navbar}"></nav>

<form th:action="@{/recept/opslaan}" method="post" th:object="${formRecipe}">
    <input type="hidden" th:field="*{recipeID}">
    <input type="hidden" th:field="*{dateAdded}">

<div class="container-md border-col p-0 my-5 mx-0">
    <div class="row g-0 align-items-stretch">
        <div class="col d-flex flex-column justify-content-start align-items-start border-col p-0">
            <div class="d-flex align-items-center my-0 mx-3 w-100">
                <div class="flex-grow-1 me-4 d-flex flex-column">
                    <label class="mt-2 mx-0 px-0 form-label" for="name">Naam van het
                        <span th:if="${formRecipe.recipeID == null}">nieuwe</span>
                        <span th:unless="${formRecipe.recipeID == null}">te wijzigen</span>
                        recept:
                    </label>
                    <input class="fs-2 mb-2 mx-0 px-1 form-control w-100" type="text" id="name" th:field="*{name}"
                           placeholder="bijv. Vegan Spaghetti Bolognese">
                </div>
                <div class="ms-auto flex-end col-1">
                    <a th:href="@{/recept/verwijderen/{recipeID}(recipeID = ${formRecipe.recipeID})}">
                        <i class="bi bi-trash-fill"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row g-0 align-items-stretch">
        <div class="col border-col mb-0 px-3">
            <label class="mt-2 mx-0 px-0 form-label" for="description">Korte omschrijving</label>
            <input class="mb-2 mx-0 px-1 form-control" type="text" id="description" th:field="*{description}"
                   placeholder="bijv. Rijke bolognese saus op basis van champignons">
        </div>
    </div>

    <div class="row g-0 align-items-stretch">
        <div class="col border-col px-3">
            <label for="portions">Aantal porties</label>
            <input class="mb-2 mx-0 px-1 form-control" type="number" id="portions" th:field="*{nrOfPortions}">
        </div>
        <div class="col border-col px-3">
            <label for="author">Auteur</label>
            <input class="mb-2 mx-0 px-1 form-control" type="text" id="author" th:field="*{author.username}" readonly>
        </div>
        <div class="col border-col px-3">
            <label for="date">Publicatiedatum</label>
            <input class="mb-2 mx-0 px-1 form-control" type="text" id="date" th:field="*{dateAdded}">
        </div>
        <div class="col border-col px-3">
            <label for="shared" class="d-block">Gedeeld</label>
            <div class="form-check mt-2">
                <input class="form-check-input custom-checkbox" type="checkbox" id="shared" th:field="*{publiclyVisible}">
            </div>
        </div>
    </div>

    <div class="row g-0 align-items-stretch">
        <div class="col border-col px-3 pb-3">
            <h2 class="mb-2">Ingrediënten</h2>
            <div id="ingredients-section">
                <div class="ingredient-row" th:each="ingredient, order : *{recipeHasIngredients}">
                    <input type="hidden" th:field="*{recipeHasIngredients[__${order.index}__].ingredient}">
                    <input type="hidden" th:field="*{recipeHasIngredients[__${order.index}__].recipeHasIngredientID}">
                    <input type="hidden" th:field="*{recipeHasIngredients[__${order.index}__].recipe}">
                    <table>
                        <tr>
                            <td>
                                <input type="text" class="form-control"
                                       th:field="*{recipeHasIngredients[__${order.index}__].quantity}">
                            </td>
                            <td>
                                <input type="text" class="form-control"
                                       th:field="*{recipeHasIngredients[__${order.index}__].ingredient.quantityUnit}">
                            </td>
                            <td class="description-line">
                                <input type="text" class="form-control"
                                       th:field="*{recipeHasIngredients[__${order.index}__].ingredient.description}">
                            </td>
                            <td>
                            <td><i class="ms-2 bi bi-trash-fill remove-ingredient"></i></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <button type="button" id="add-ingredient">Ingrediënt toevoegen</button>
    </div>

    <div class="row g-0 align-items-stretch">
        <div class="col border-col px-3 pb-3">
            <h2 class="mb-2">Instructies</h2>
            <div id="steps-section">
                <div class="step-row" th:each="step, order : *{steps}">
                    <table>
                        <tbody>
                            <tr>
                                <td><i class="bi-grip-vertical"></i>
                                    <input type="hidden" th:field="*{steps[__${order.index}__].stepId}"></td>
                                <td><input class="form-control" type="text"
                                           th:field="*{steps[__${order.index}__].sequenceNr}" readonly></td>
                                <td class="instruction-line"><input class="form-control"
                                           type="text" th:field="*{steps[__${order.index}__].instruction}"></td>
                                <td><i class="ms-2 bi bi-trash-fill remove-step"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <button type="button" id="add-step">Stap toevoegen</button>

    </div>

    <div>


    </div>

            <div>
                <button type="submit" name="action" value="save">Opslaan</button>
                <button type="submit" name="action" value="cancel">Annuleren</button>
            </div>
    </div>
</form>

<footer th:replace="~{fragments/general :: footer}"></footer>
<div th:replace="~{fragments/general :: bottomScripts}"></div>
<script th:src="@{/js/recipeForm.js}"></script>
</body>
</html>