<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments/general :: baseheader(~{:: title})}">
    <title th:if="${formRecipe.recipeID == null}">Voeg een nieuw recept toe</title>
    <title th:unless="${formRecipe.recipeID == null}">Pas een recept aan</title>
</head>

<body class="d-flex flex-column min-vh-100 main-width">
<nav th:replace="~{fragments/general :: navbar}"></nav>

<form th:action="@{/recept/opslaan}" method="post" th:object="${formRecipe}">
    <input type="hidden" th:field="*{recipeID}">
    <input type="hidden" th:field="*{dateAdded}">
    <input type="hidden" th:field="*{imageURL}">

    <div class="container-md border-col p-0 my-5 mx-0">
        <div class="row g-0 align-items-stretch">
            <div class="border-col">
                <h2 th:if="${formRecipe.recipeID == null}">Schrijf een nieuw recept</h2>
                <h2 th:unless="${formRecipe.recipeID == null}">Pas je recept aan</h2>
            </div>
            <div class="col d-flex flex-column justify-content-start align-items-start border-col p-0">
                <div class="d-flex align-items-center w-100 px-3 py-2">
                    <div class="flex-grow-1 d-flex flex-column">

                        <label class="mt-2 mx-0 px-0 form-label" for="name">Naam van het
                            <span th:if="${formRecipe.recipeID == null}">nieuwe</span>
                            <span th:unless="${formRecipe.recipeID == null}">te wijzigen</span>
                            recept
                        </label>

                        <input class="mb-2 mx-0 px-1 form-control w-100" type="text" id="name" th:field="*{name}"
                               placeholder="bijv. Vegan Spaghetti Bolognese">
                        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="danger">Fout in naam</div>
                    </div>
                </div>
            </div>
        </div>

        <div th:unless="${formRecipe.recipeID == null}">
            <div th:unless="${#strings.isEmpty(formRecipe.imageURL)}"
                 class="row border-col p-0 d-flex justify-content-end card-image py-2"
                 th:style="'background-image:url(' + ${formRecipe.imageURL} + ')'">
                <a th:href="@{/recept/afbeelding/{formRecipeID}(formRecipeID=${formRecipe.recipeID})}">
                    <i class="icon-button bi-pencil-fill card-button"></i></a>
            </div>
            <div th:if="${#strings.isEmpty(formRecipe.imageURL)}"
                 class="d-flex align-items-center justify-content-center border-col">
                <a class="btn btn-primary"
                   th:href="@{/recept/afbeelding/{formRecipeID}(formRecipeID=${formRecipe.recipeID})}">
                    + afbeelding toevoegen</a>
            </div>
        </div>

        <div class="row g-0 align-items-stretch">
            <div class="col border-col mb-0 py-2">
                <label class="mt-2 mx-0 px-0 form-label" for="description">Korte omschrijving</label>
                <input class="mb-2 mx-0 px-1 form-control" type="text" id="description" th:field="*{description}"
                       placeholder="bijv. Rijke bolognese saus op basis van champignons">
            </div>
        </div>

        <div class="row g-0 align-items-stretch">
            <div class="col border-col py-2">
                <label for="portions">Aantal porties</label>
                <input class="mb-2 mx-0 px-1 form-control" type="number" id="portions" th:field="*{nrOfPortions}">
                <div th:if="${#fields.hasErrors('nrOfPortions')}" th:errors="*{nrOfPortions}" class="danger"></div>
            </div>
            <div class="col border-col py-2">
                <label for="author">Auteur</label>
                <input class="mb-2 mx-0 px-1 form-control" type="text" id="author" th:field="*{author.username}"
                       readonly>
            </div>
            <div class="col border-col py-2">
                <label for="date">Publicatiedatum</label>
                <input class="mb-2 mx-0 px-1 form-control" type="text" id="date" th:field="*{dateAdded}" readonly>
            </div>
            <div class="col border-col py-2">
                <label for="shared" class="d-block">Gedeeld</label>
                <div class="form-check mt-2">
                    <input class="form-check-input custom-checkbox" type="checkbox" id="shared"
                           th:field="*{publiclyVisible}">
                </div>
            </div>
        </div>

        <div class="row g-0 align-items-stretch">
            <div class="col border-col px-3 pb-3">
                <h2 class="mb-3">Ingrediënten</h2>
                <div id="ingredients-section">
                    <div class="ingredient-row" th:each="ingredient, order : *{recipeHasIngredients}">
                        <input type="hidden"
                               th:field="*{recipeHasIngredients[__${order.index}__].ingredient}">
                        <input type="hidden"
                               th:field="*{recipeHasIngredients[__${order.index}__].recipeHasIngredientID}">
                        <input type="hidden"
                               th:field="*{recipeHasIngredients[__${order.index}__].recipe}">
                        <input type="hidden"
                               th:field="*{recipeHasIngredients[__${order.index}__].ingredient.calories}">
                        <table>
                            <tr>
                                <td>
                                    <input type="text" class="form-control" th:field=
                                            "*{recipeHasIngredients[__${order.index}__].quantity}"
                                           placeholder="hoeveelheid">
                                    <div th:if="${#fields.hasErrors
                                            ('recipeHasIngredients[__${order.index}__].quantity')}"
                                         th:errors="*{recipeHasIngredients[__${order.index}__].quantity}"
                                         class="danger"></div>
                                </td>
                                <td>
                                    <select class="form-select" th:field=
                                            "*{recipeHasIngredients[__${order.index}__].ingredient.quantityUnit}">
                                        <option th:each="quantityUnit : ${quantityUnits}"
                                                th:value="${quantityUnit}"
                                                th:text="${quantityUnit.displayName}">
                                        </option>
                                    </select>
                                </td>
                                <td class="description-line">
                                    <input type="text" class="form-control" th:field=
                                            "*{recipeHasIngredients[__${order.index}__].ingredient.description}"
                                           placeholder="bijv. rijst">
                                    <div th:if="${#fields.hasErrors
                                            ('recipeHasIngredients[__${order.index}__].ingredient.description')}"
                                         th:errors="*{recipeHasIngredients[__${order.index}__].ingredient.description}"
                                         class="danger"></div>
                                </td>
                                <td><i class="ms-2 bi bi-trash-fill remove-ingredient"></i></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <button type="button" id="add-ingredient"
                        class="btn-primary-sm mt-3 px-2">+ ingrediënt toevoegen</button>
            </div>

            <!-- dropdown template for new rows -->
            <select id="quantityUnitDropdown" style="display:none" class="form-select">
                <option th:each="quantityUnit : ${quantityUnits}"
                        th:value="${quantityUnit}"
                        th:text="${quantityUnit.displayName}">
                </option>
            </select>
        </div>

        <div class="row g-0 align-items-stretch">
            <div class="col border-col px-3 pb-3">
                <h2 class="mb-3">Instructies</h2>
                <div id="steps-section">
                    <div class="step-row" th:each="step, order : *{steps}">
                        <table>
                            <tbody>
                            <tr>
                                <td><i class="bi-grip-vertical"></i>
                                    <input type="hidden" th:field="*{steps[__${order.index}__].stepId}"></td>
                                <td>
                                    <input class="form-control" type="text"
                                           th:field="*{steps[__${order.index}__].sequenceNr}" readonly></td>
                                <td class="instruction-line">
                                    <input class="form-control"
                                           type="text"
                                           th:field="*{steps[__${order.index}__].instruction}"
                                           placeholder="bijv. bak voor 10 min."></td>
                                <td><i class="ms-2 bi bi-trash-fill remove-step"></i></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <button type="button" id="add-step" class="btn-primary-sm mt-3 px-2">+ stap toevoegen</button>
            </div>
        </div>

        <div class="p-3 border-col d-flex justify-content-center">
            <button type="submit" name="action" value="save" class="btn-primary px-3 mx-2">Opslaan</button>
            <button type="submit" name="action" value="cancel" class="btn-primary px-3 mx-2">Annuleren</button>
            <div class="d-flex align-items-center mx-2 text-danger"
                 th:if="${formRecipe.author.username == #authentication.name}
                                                    or ${#authorization.expression('hasRole(''ADMIN'')')}">
                <a th:href="@{/recept/verwijderen/{recipeID}(recipeID = ${formRecipe.recipeID})}"
                   onclick="return confirm('Weet je zeker dat je dit recept wilt verwijderen?');">
                    verwijderen
                </a>
            </div>
        </div>
    </div>
</form>

<footer th:replace="~{fragments/general :: footer}"></footer>
<div th:replace="~{fragments/general :: bottomScripts}"></div>
<script th:src="@{/js/recipeForm.js}"></script>
</body>
</html>