<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/general :: baseheader(~{:: title})}">
    <title>Gebruikte ingredienten</title>
</head>

<body class="d-flex flex-column min-vh-100 main-width">
<nav th:replace="~{fragments/general :: navbar}"></nav>

<div class="container">
    <table>
        <thead>
            <tr>
                <th>Gebruiker</th>
                <th>Admin</th>
                <th>Aantal recepten</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td><div th:text="${user.username}"></div></td>
            <td><input type="checkbox" class="form-check-input custom-checkbox"
                       th:checked="${user.role == 'ROLE_ADMIN'}" disabled/></td>
            <td><div th:text="${user.countRecipes()}"></div></td>
            <td><a th:href="@{/gebruiker/aanpassen/{username}(username = ${user.username})}">
                <i class="bi bi-pencil-fill"></i></a>
            </td>
            <td><a th:href="@{/gebruiker/verwijderen/{userID}(userID = ${user.userID})}"
                   onclick="return confirm('Weet je zeker dat je dit recept wilt verwijderen?');">
                <i class="bi bi-trash-fill"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" th:href="@{/gebruiker/toevoegen}" role="button">Voeg een nieuw gebruiker toe</a>
</div>

<footer th:replace="~{fragments/general :: footer}"></footer>
<div th:replace="~{fragments/general :: bottomScripts}"></div>
</body>

</html>