<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments/general :: baseheader(~{:: title})}">
    <title th:if="${user.username == null}">Voeg een nieuwe gebruiker toe</title>
    <title th:unless="${user.username == null}">Pas een gebruiker aan</title>
</head>

<body class="d-flex flex-column min-vh-100 main-width">
<nav th:replace="~{fragments/general :: navbar}"></nav>

<form th:action="@{/gebruiker/opslaan}" method="post" th:object="${user}">
    <div><input type="hidden" id="userID" th:field="*{userID}"></div>

    <div class="container-md border-col p-0 my-5 mx-0">
        <div class="row g-0 align-items-stretch">
            <div class="border-col">
                   <h1 th:if="${user.username == null}">Voeg een nieuwe gebruiker toe</h1>
                <h1 th:unless="${user.username == null}">Pas een gebruiker aan</h1>
            </div>
        </div>

        <div class="col d-flex flex-column justify-content-start align-items-start border-col p-0">
            <div class="d-flex align-items-center w-100 px-3 py-2">
                <div class="flex-grow-1 d-flex flex-column">
                    <div>
                        <label class="mt-2 mx-0 px-0 form-label" for="username">Gebruikersnaam</label>
                        <div >
                            <input class="mb-2 mx-0 px-1 form-control w-100" type="text"
                                   id="username" aria-describedby="usernameHelpInline" th:field="*{username}">
                        </div>
                        <div>
                            <span id="usernameHelpInline" class="form-text"
                                  th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
                        </div>
                    </div>

                    <div>
                        <label class="mt-2 mx-0 px-0 form-label" for="passwordOne">Wachtwoord</label>
                        <div>
                            <input class="mb-2 mx-0 px-1 form-control w-100" type="password"
                                   id="passwordOne" aria-describedby="passwordHelpInline" th:field="*{password}">
                        </div>
                    </div>
                    <div>
                        <label class="mt-2 mx-0 px-0 form-label" for="passwordConfirm">Wachtwoord bevestigen</label>
                        <div>
                            <input class="mb-2 mx-0 px-1 form-control w-100" type="password" id="passwordConfirm"
                                   aria-describedby="passwordHelpInline" th:field="*{confirmPassword}">
                        </div>
                        <div>
                            <span id="passwordHelpInline" class="form-text"
                                  th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                        </div>
                    </div>
                    <div>
                        <label class="mt-2 mx-0 px-0 form-label" for="admin">Administrator rechten:</label>
                        <input type="checkbox" id="admin"
                               class="form-check-input custom-checkbox p-2 m-2" th:field="*{adminUser}"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-3 border-col d-flex justify-content-center">
            <button class="btn-primary px-3 mx-2" type="submit" name="action" value="save">Opslaan</button>
            <button class="btn-primary px-3 mx-2" type="submit" name="action" value="cancel">Annuleren</button>
        </div>
    </div>
</form>

<footer th:replace="~{fragments/general :: footer}"></footer>
<div th:replace="~{fragments/general :: bottomScripts}"></div>
</body>

</html>